body {
    font-family: Arial, sans-serif;
    background-color: #2d142c;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 500px auto;
    padding: 20px;
    background-color: #ee4540;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #801336;
}

.joke-box {
    margin-top: 20px;
    background-color: #510a32;
    padding: 20px;
    border-radius: 5px;
}

.joke-box h2 {
    color: #c72c41;
}
